@model opr.Models.Student_Table
@{
    ViewBag.Title = "AddStudent";
   
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Add Student Record</h2>
    </div>
    <div class="container">
        <div class="">






        </div>




    </div>



</div>
